@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
    font-family: "Roboto", sans-serif;
    margin: 0px; padding: 0px;
    width: 100%;
    background: #aabbcc;
}

.title {
    text-align: center;
    font-weight: bold;
}
